<?xml version="1.0" encoding="utf-8" ?>
<configuration>
  <connectionStrings>
    <add name="BasicUtility" connectionString="server=;Database=;User ID=;Password=" providerName="System.Data.SqlClient"/>
    <add name="eTicket_SIT" connectionString="Server=;Initial Catalog=eTicket_SIT;User Id=;Password=;" providerName="System.Data.SqlClient"/>
  </connectionStrings>
  <appSettings>
    <add key="BasicUtility_CurrentDbName" value="BasicUtility"/>
    <add key="eTicket_SIT_CurrentDbName" value="eTicket_SIT"/>
  </appSettings>
</configuration>